/* Font */
@font-face {
  font-family: "italiannoregular";
  src: url("../fonts/italianno-regular-otf-webfont.woff2") format("woff2"),
    url("../fonts/italianno-regular-otf-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*  Style Utama */
body {
  font: 18px/36px "italiannoregular", "Arial-Narrow", Arial, sans-serif;
  background-color: #c6b7ff;
}

h1 {
  font-size: 80px;
  margin: 50px 0px;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

.container {
  width: 600px;
  background-color: #f8c8dc;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.gallery li {
  width: 120px;
  height: 120px;
  /* overflow: hidden; */
  border: 5px solid #666;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}

.gallery li,
.gallery li img,
.gallery li span {
  border-radius: 50%;
}

.gallery li span {
  display: block;
  width: 120px;
  height: 120px;
  font-size: 40px;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 120px;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transition: 0.5s;
  transform: scale(0) rotate(0deg);
}

.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.clear {
  clear: both;
}

/* overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.8s;
  text-align: center;
  padding: 100px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0, 0.7);
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 7px rgb(0, 0, 0), 0.5;
}

.overlay:target img {
  animation: fade 1s;
}

.overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -40px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 5px;
  opacity: 0;
}

.overlay:target .close {
  animation: SlideDownFade 0.5s 0.5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
  animation: fade 0.5s 0.5s forwards;
}

/* navigasi */
.next,
.prev {
  width: 80px;
  height: 80px;
  background-image: url(../img/next.png);
  position: absolute;
  text-indent: -9999px;
  top: 45%;
  margin-left: 50px;
  opacity: 0;
}

.prev {
  background-image: url(../img/prev.png);
  margin-left: -130px;
}

/* animasi */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ZoomDanFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes SlideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}
