* {
    margin; 0;
    padding: 0;
}


body {
    font-family: 'Jost', sans-serif;
}

/*Navbar*/
nav {
    display: flex;
    background-color: greenyellow; 
    justify-content: space-around;
    color: white
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;

}

nav ul li a {
    color: lightgoldenrodyellow
    text-decoration: none;
    font-size: 0.8cm;

}

nav ul li a:hover {
    color: lightcyan
}

/*hamburger menu*/

.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;

    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -11px;
    top: -6px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: lightgoldenrodyellow;
    border-radius: 3px;
    transition: all; 0.5s;
}


/*hamburger menu animation*/
.menu-toggle span:nth-child(2) {
transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: white;
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, -1px);
    background-color: white;
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

/*responsive breakpoint*/

/*ukuran tablet*/
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/*ukuran hp*/
@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }